In [5]:
#lists
months=['January', 'February', 'March', 'April', 'May','June', 'July', 'August', 'Spetember', 'October', 'November', 'December']

In [6]:
#lists can have anything in them
list_of_random_items= ['Code', 23, True, 88.6]

In [7]:
#lists are ordered
print(months[0])
print(list_of_random_items[0])

January
Code

In [8]:
#take last element in list
print(months[-1])

December

In [10]:
qtr2 = months[3:6]
print(qtr2)

['April', 'May', 'June']

In [ ]:
#first number is inclusive 2nd is not
qtr4= months[9:]
qtr1= months[:3]

In [17]:
#slicing
print(months[:6])
print(months[7:])

['January', 'February', 'March', 'April', 'May', 'June']
['August', 'Spetember', 'October', 'November', 'December']

In [20]:
#make a list that is seperated by commas
input_user = input('input numbers')
x= input_user.split(',')
print(x)

input numbers123,43,5
['123', '43', '5']

In [3]:
#make a function that accepts ad argument and squares it
def generateSqauares(1):
    sqlist=[]
    for i in range (0,len(1)):
        sqlist.append((1[i]**2))
    return sqlist
list_of_num=[-3,4,5,64,3,123]
print(generateSquares(list_of_num))

NameError: name 'generateSquares' is not defined

In [ ]:
#tuple for some golde gate value
golden_gate = (32, -122)
#tuples can be defined w/o parenthesis 
golden_gate = 32, -122

In [24]:
#tuple unpacking
#u can assign tuples to variables like so 
rect = 2,8
length, width = rect
print('rectangle dimensions {} by {}'.format(length, width))

rectangle dimensions 2 by 8

In [ ]:
print('rectangle dimensions {} by {}'.format(rect[0], rect[1]))

In [25]:
#sets
#removes duplicates and there is no order making it unique 
list_of_names=['ariv', 'kintien', 'vanndanna', 'shree', 'shree']
set_of_names = set(list_of_names)
print(set_of_names)

{'vanndanna', 'ariv', 'shree', 'kintien'}

In [29]:
#sets
#removes duplicates and there is no order making it unique 
list_of_num=['ariv', 'kintien', 'vanndanna', 'shree', 'shree']
set_of_num = set(list_of_names)
print(set_of_names)

(12, 12, 23, 4324)

In [33]:
l1 = [1,23,45,88,546]
l2 = [1,23,92834, 123]
set1 = set(l1)
set2= set(l2)
set1 &= set2
lis = list(set1)
print(lis)

TypeError: 'list' object is not callable

In [35]:
grocery_bag= {'egg','tomato','shrooms'}
print(grocery_bag.pop())

tomato

In [36]:
portfolio ={'microsoft':'MSft', 'Apple':'AAPL', 'Alphabet': 'GOOG'}
print(portfolio['Apple'])

AAPL

In [37]:
portfolio['Nvdia']= 'NVDA'
print(portfolio)

{'microsoft': 'MSft', 'Apple': 'AAPL', 'Alphabet': 'GOOG', 'Nvdia': 'NVDA'}

In [ ]:
#this will result in a key error bc key error
print(portfolio['netflix'])

In [39]:
if 'Netflix' in portfolio:
    print(portfolio['Netflix'])
else:
    print('key not found')

key not found

In [40]:
#check if somethign in dict in short form
print(portfolio.get('netflix'))

None

In [ ]:
#the .get function allows for custom messages to b placed when not found
print(portfolio.get('netflix','it is not found'))